.place__paragraph {
  font-size: 1.125rem;
  line-height: 1.63;
  margin: 0 0 1.6875rem 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 1rem;
    margin: 0 0 1.5625rem 0;
  }

  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 1rem;
    margin: 0 1rem 1.5625rem 1rem;
  }

  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}
