.intro__text {
  max-width: 43.125rem;
  width: 100%;
  line-height: 1.63;
  margin: 2.5rem 0 2.0625rem 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    margin-bottom: 2.125rem;
  }
}
